<form id="slide_edit" action="/<%= @slide.id %>" method="post">
	<input type="hidden" name="_method" value="put" />
	
	<div class="description">
		<button>save changes to slide</button> or 
		<% if @slide.title == 'untitled' && @slide.body == ' ' %>
			<a href="/<%= @slide.id %>" class="delete_new_slide">cancel adding new slide</a>
		<% else %>
			<a href="/#slide_<%= @slide.id %>">cancel</a>
		<% end %>
	</div>
	
	<div class="slide">
		<input type="text" name="slide[title]" value="<%= @slide.title %>" />
  	<textarea name="slide[body]"><%= @slide.body %></textarea>
  </div>

	<div class="little_help clear">
		To activate the syntax highlighting:
		&lt;pre name="code" class="ruby|jscript|css|xml"&gt;your code here&lt;/pre&gt; and you can find a <a href="http://hobix.com/textile/">textile reference here</a>.
	</div>
</form>