<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>crooner</title>
		
		<link type="text/css" rel="stylesheet" href="/css/crooner.css"></link>
		<link type="text/css" rel="stylesheet" href="/vendor/SyntaxHighlighter/Styles/SyntaxHighlighter.css"></link>
		<script language="javascript" src="/vendor/SyntaxHighlighter/Scripts/shCore.js"></script>
		<script language="javascript" src="/vendor/SyntaxHighlighter/Scripts/shBrushCss.js"></script>
		<script language="javascript" src="/vendor/SyntaxHighlighter/Scripts/shBrushJScript.js"></script>
		<script language="javascript" src="/vendor/SyntaxHighlighter/Scripts/shBrushRuby.js"></script>
		<script language="javascript" src="/vendor/SyntaxHighlighter/Scripts/shBrushXml.js"></script>
		<script src="/js/jquery-1.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/jquery-ui-personalized-1.6rc5.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/crooner.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="nav">
			<form id="slide_new" action="/" method="post">
					<input type="hidden" name="slide[title]" value="untitled" />
					<input type="hidden" name="slide[body]" value=" " />
			  	<button>add a new slide</button>
			</form>
			<ul>
				<% Slide.all(:order=>[:position]).each do |s| %>
				<li id="slide_control_<%= s.id %>" class="<%= 'highlight' if s.position == 0 %>">
					<a href="/#slide_<%= s.id %>"><%= s.title %></a> 
					<a href="/<%= s.id %>/edit" class="control"><img src="/images/edit.png" alt="edit" /></a> 
					<a href="/<%= s.id %>/destroy" class="control"><img src="/images/delete.png" alt="delete" /></a>
				</li>
				<% end %>
			</ul>
		</div>
		<%= yield %>
	</body>
</html>
