<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>crooner</title>
		
		<link type="text/css" rel="stylesheet" href="/css/crooner.css"></link>
		<link type="text/css" rel="stylesheet" href="/vendor/SyntaxHighlighter/Styles/SyntaxHighlighter.css"></link>
		<script language="javascript" src="/vendor/SyntaxHighlighter/Scripts/shCore.js"></script>
		<script language="javascript" src="/vendor/SyntaxHighlighter/Scripts/shBrushCss.js"></script>
		<script language="javascript" src="/vendor/SyntaxHighlighter/Scripts/shBrushJScript.js"></script>
		<script language="javascript" src="/vendor/SyntaxHighlighter/Scripts/shBrushRuby.js"></script>
		<script language="javascript" src="/vendor/SyntaxHighlighter/Scripts/shBrushXml.js"></script>
		<script src="/js/jquery-1.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		
		<script language="javascript">
		$(function(){
			
			// in ur slides highlighin ur syntaxes
			dp.SyntaxHighlighter.ClipboardSwf = '/flash/clipboard.swf';
			dp.SyntaxHighlighter.HighlightAll('code');	
			
			// hide all the editing controls 
			$('div#nav ul li a.control').hide();
			
			// unless the presentor is mousing around
			$('div#nav ul li').hover(
				function(){ $(this).children('.control').show(); },
				function(){ $(this).children('.control').hide(); }
			);
			
			// 
			
		///	
		});
		</script>
	</head>
	<body>
		<div id="nav">
			<ul>
				<li><a href="#slide_new">new slide</a></li>
				<li><hr /></li>
				<% Slide.all.each do |s| %>
				<li>
					<a href="#slide_<%= s.id %>"><%= s.title %></a> 
					<a href="/<%= s.id %>/edit" class="control"><img src="/images/edit.png" alt="edit" /></a> 
					<a href="/<%= s.id %>/destroy" class="control"><img src="/images/delete.png" alt="delete" /></a>
				</li>
				<% end %>
			</ul>
		</div>
		<%= yield %>
	</body>
</html>
